.notification {
    display: block;
    position: fixed;
    top: 1em;
    left: 5%;
    width: 90%;
    min-height: 2em;
    padding: 0.5em;
    background-color: #0a1855;
    color: #fff;
    z-index: 100;
    border-radius: 0.5em;

    animation-name: notificationAnimation;
    animation-duration: 9s;
}

@-webkit-keyframes notificationAnimation {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    92% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}