.btn-yes {
    color: white;
    border-radius: 5px;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    width: 49%;
    height: 50px;
    vertical-align: middle;
    padding-bottom: 20px;
    margin-right: 0.5%;
    font-size:30px;
}

.btn-no {
    color: white;
    border-radius: 5px;
    background-color: #E84855;
    border: 1px solid #E84855;
    width: 49%;
    height: 50px;
    vertical-align: middle;
    padding-bottom: 20px;
    font-size:30px;
}