.graffiti-content {
    padding-bottom: calc(4em - 10px);
    margin: 10px;
}

.graffiti-step {
    display: none;
    text-align: center;
}

.graffiti-starter-step {
    display: block;
}

.btn-add {
  color: white;
  border-radius: 5px;
  background-color: #ac00e6;
  border: 1px solid #ac00e6;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  font-size:18px;
}

.btn-map {
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  font-size:18px;
}

.modal-small {
    background-color: #FF6663;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 60px 5% 100px 0%; 
    width: 95%;
    max-height: 75%;
}

.graffiti-box {
    color: white;
    font-size: 17px;
    background-color: #2978A0;
    border-radius: 5px;
    padding: 20px 10px;
}

.graffiti-like {
    background-color: #fff;
    display: block;
    color: #000;
    padding: 0.2em 0.5em;
}

.like-btn {
    color: red;
    margin: 0 0.5em;
}

.graffiti-text {
    color: #fff;
    font-size: 17px;
    text-align: justify;
    margin-top: 0.5em;
}

.profile-pic {
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
}

.profile-data {
    padding-left: 20px;
    display: inline-block;
    list-style: none;
    vertical-align:top;
    text-align: left;
}

.btn-proximo {
    font-size:20px;
    color:white;
    position: absolute;
    right: 0;
    bottom: 0.5em;
}

.btn-acao-graffiti {
    width:49%;
    height:65px;
    display: inline-block;
}