.profile-content {
    padding-bottom: 4em;
}

.pic-header {
    padding: 0.5em;
    background-color: #F7DC62;
}

.profile-pic {
    width: 100px;
    height: 100px;
    
    vertical-align: top;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
    background-color: #fff;
    border: #666 1px solid;
}

.profile-data {
    display: inline-block;
    list-style: none;
    padding-left: 0%;
    margin-left: 5%;
    vertical-align: bottom;
    max-width: calc(85% - 100px);
}

.profile-social-icon {
    font-size: 20px;
}

.icon-bg {
    color: #fff;
}

.logo {
    color: #F7DC62;
}

.edit-logo {
    color: #2ac845;
}

.profile-username {
    font-weight: bold;
}

.aba {
    border:none;
}

.profile-tab {
    font-size: 1rem;
}

/* Graffiti Digital */
.profile-graffiti-box {
    color: #333;
    font-size: 17px;
    background-color: white;
    padding: 20px 10px;
}

.graffiti-description{
    padding: 10px 10px 10px 10px;
}


.btn-profile-map {
  border-radius: 5px;
  background-color: #FF6663;
  border: 1px solid white;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  font-size:18px;
}


/* Pagamentos */

.payment-history {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-history > li {
    border-bottom: solid rgba(51, 51, 51, 0.6) 2px;
    padding: 0.25em;
}

.payment-details {
    list-style: none;
    padding: 0;
}

.payment-details li:not(.payment-item) {
    color: #333;
}

/*Cronograma*/
.time-table-body{
    padding: 0 10px 10px;
    color:white;
}

.options-view {
    background-color: transparent;
}

/* Editar o perfil */
.edit-profile-input {
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: red solid 1px !important;
}

.check-bg {
    color: #2ac845 !important;
}

.cancel-bg {
    color: red !important;
}

.check-content {
    color: #fff !important;
}

.title-edit {
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 10px;
}

.active-privacy {
    background-color: #fff;
    color: #FF6663;
}

.cc-form{
    font-size: 17px;
    color: #777;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.cc-input {
    display: block;
    padding-bottom: 0.6em;
}

.cc-label {
    display: block;
}

.cc-name{
    width: 100%;
    color: #4b4b4b;
    font-weight: bold;
    border-radius:3px;
    border:1px solid #ccc;
    margin-right: 10px;
}

.cc-number{
    display: inline-block;
    width: 20% !important;
    color: #4b4b4b;
    font-weight: bold;
    border-radius:3px;
    border:1px solid #ccc;
    margin-right: 10px;
}
