.profile-content {
    padding-bottom: 4em;
}

.pic-header {
    padding: 0.5em;
    background-color: #F7DC62;
}

.profile-pic {
    width: 100px;
    height: 100px;
    
    vertical-align: top;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
    background-color: #fff;
    border: #666 1px solid;
}

.profile-data {
    display: inline-block;
    list-style: none;
    padding-left: 0%;
    margin-left: 5%;
    vertical-align: bottom;
}

.profile-social-icon {
    font-size: 20px;
}

.icon-bg {
    color: #fff;
}

.logo {
    color: #F7DC62;
}

.profile-username {
    font-weight: bold;
}

.aba {
    border:none;
}


.graffiti-box {
    color: #333;
    font-size: 20px;
    background-color: white;
    padding: 20px 10px;
}

.btn-map {
  border-radius: 5px;
  background-color: #FF6663;
  border: 1px solid white;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
  font-size:18px;
}

.profile-tab {
    font-size: 1rem;
}

/* Pagamentos */

.payment-history {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-history > li {
    border-bottom: solid rgba(51, 51, 51, 0.6) 2px;
    padding: 0.25em;
}

.payment-details {
    list-style: none;
    padding: 0;
}

.payment-details li:not(.payment-item) {
    color: #333;
}